.triangle {
    /* width: 100%; */
    width: 11rem;
    height: 11rem;
    background-image: url(../../images/bg-triangle.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    /* background-position: center; */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.paperPosition {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
}

.scissorsPosition {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
}

.rockPosition {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 20%);
}