.header {
    margin: 1rem;
    align-items: flex-end;
}

.header-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: grey;
    font-size: 5rem;
}

.logo {
    font-size: 2rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    color: black;
}

.button-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: grey;
}

.btn-login {
    border: none;
    background-color: transparent;
    color: inherit;
    margin-right: 2rem;
}

.btn-register {
    height: auto;
    background-color: transparent;
    border: 2px solid grey;
    border-radius: 0.7rem;
    padding: 0.6rem 1rem;
    margin-right: 1rem;
    color: grey;
}

@media screen and (max-width: 375px) {
    .header-list > li {
        display: none;
    }

    .fa-bars {
        display: flex;
        align-items: center;
        margin: 1rem;
    }

    .btn {
        display: none;
    }
}


