.rockOuterCircle{
    height: 8.5rem;
    width: 8.5rem;
    background: radial-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));  
    box-shadow: inset 0px -10px 0px -3px rgba(0,0,0,0.35); 
}

.rockInnerCircle {
    height: 6.5em;
    width: 6.5rem;
    box-shadow: inset 0px 9px 0px -3px rgba(0,0,0,0.25); 
}
