* {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none !important;
  color: inherit !important;
  cursor: pointer;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
